/* New simplified display classes */

.checkspan { white-space: nowrap; cursor: pointer;}
.checkspan[ischecked] { font-weight: bold; }

/* Autoprompt classes */

input.autoprompt {
  font-family: sans,sans-serif; }
input.autoprompt[isempty] { font-style: italic; color: gray;}
input.autoprompt_empty {
  font-family: sans,sans-serif; font-weight: normal; font-style: italic;
  color: gray; height: 18px; }

/* Input help classes */

div.helptext { display: none; }

/* Tabs */

div.tabbar { line-height: 200%;}

span.tab {
  font-family: sans,sans-serif;
  margin-left: 2px; margin-right: 2px;
  border: outset black 2px;
  padding: 3px;}
span.tab[shown] {
  /* font-weight: bold; */
  border: inset black 2px;
  border-bottom: hidden;}
div.tabcontent {
 margin-left: 9px; margin-top: 6px; margin-right: 9px;
 text-align: left;
 display: none;}
div.tabcontent[shown] { display: block; }

div.tabcontent div.narrative {
 color: purple; font-family: sans; font-style: italic;}
div.tabcontent p {
 margin: 2px; padding: 2px;
 margin-left: 15%; text-indent: -5%; margin-right: 10%;}

/* DTerms (from knowlets) */

span.dterm {
  opacity: .95; color: blue; font-family: sans,sans-serif; white-space: nowrap;}
span.dterm span.disambig {
  color: red;}
span.dterm .langid {
  color: green; font-style:italic; font-family: fixed;}

/* Wordforms and langids */

span.wordform {
  white-space: nowrap; color: black;}
span.wordform sub.langids {
  color: green; font-family: fixed;}
span.wordform .langid {
  color: green; font-family: fixed;}

/* Glosses */

p.gloss {
  font-style: italic; font-family: sans;}
p.gloss span.spacer {
  padding-left: 6px; padding-right: 6px;
  font-family: sans; font-weight: bold; font-size: 150%;}

/* Font sizers */

span.font_sizer {
  float: right; width: 16px; -moz-opacity: 0.75;
  font-size: 14px; font-weight: bold; 
  text-align: center; cursor: pointer; margin: 2px;
  background: gray; color: white;}

/* Flexboxes */

div.flexbox { max-height: 128px;}
div.flexbox_expanded { max-height: inherit;}

/* Auto completion */

div.completions {
  font-size: 12px; font-family: sans,sans-serif;
  overflow-y: scroll;}
div.completions div.completion {
  display: none; clear: both;}
div.completions div.completion[displayed="yes"] {
  display: block;}
div.completions div.completion[displayed="no"] {
  display: none;}





